<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <title>Пользователи</title>
</head>
<body>
<div th:insert="~{parts/login_part.html :: header}"></div>
<div th:insert="~{parts/admin_part.html :: nav (2)}"></div>
<table class="table table-hover mt-3">
  <tr>
    <th scope="col">id</th>
    <th scope="col">Логин</th>
    <th scope="col">Роль</th>
    <th scope="col">Заказы</th>
    <th scope="col">Действие</th>
  </tr>
  <tr  scope="row" th:each="person:${listPerson}">
    <form th:method="post" th:action="@{/admin/users}" th:object="${person}">
      <td>
        <p th:field="*{id}" th:text="${person.getId()}"></p>
      </td>
      <td>
        <p  th:field="*{login}" th:text="${person.getLogin()}"></p>
      </td>
      <td>
        <p th:field="*{role}" th:text="${person.getRole()}"></p>
      </td>
      <td>
        <a th:href="@{/admin/orders/{id}(id=${person.getId()})}">Заказы</a>
      </td>
      <td>
        <a th:href="@{/admin/users/{id}(id=${person.getId()})}">Изменить роль</a>
      </td>
    </form>
  </tr>
</table>
</body>
</html>