<!DOCTYPE html>
<html lang="en"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <title>Панель редактирования товаров</title>
</head>
<body>
<div th:insert="~{parts/login_part.html :: header}"></div>
<div th:insert="~{parts/admin_part.html :: nav (1)}"></div>
    <table>
        <tr>
            <th>Изображение</th>
            <th>Название</th>
            <th>Наличие</th>
            <th>Цена</th>
            <th>В магазин</th>
        </tr>
        <tr th:each="product : ${listProduct}">
            <td>
                <a th:href="@{/admin/products/{id}(id = ${product.getId()})}">
                    <img th:src="@{../images/{img}(img = ${product.getImage()})}" width="50px">
                </a>
            </td>
            <td>
                <a th:href="@{/admin/products/{id}(id = ${product.getId()})}" th:text="${product.getName()}"></a>
                <br>
                <a th:href="@{/admin/products/{id}(id = ${product.getId()})}">Изменить </a>
                <a th:href="@{/admin/products/{id}/delete(id = ${product.getId()})}">Удалить </a>
            </td>
            <td>
                <p th:text="${product.getQuantity()}"></p>
            </td>
            <td>
                <p th:text="${product.getPrice()}"></p>
            </td>
            <td>
                <a th:href="@{/product/{id}(id = ${product.getId()})}"> В магазин</a>
            </td>
        </tr>
    </table>
<a href="/admin/products/add">Добавить товар</a>
</body>
</html>