<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <title>Корзина</title>
</head>
<body>
<div th:insert="~{parts/login_part.html :: header}"></div>
<form  th:method="post" th:action="@{/order/create}" th:object="${carts}">
<table class="table table-hover mt-3 text-center">
  <tr>
    <th scope="col">Изображение</th>
    <th scope="col">Название</th>
    <th scope="col">Количество</th>
    <th scope="col">Цена</th>
    <th scope="col">Действие</th>
  </tr>
  <tr  scope="row" th:each="cart : ${carts}">
    <td>
      <a th:href="@{/product/{id}(id = ${cart.getProduct().getId()})}">
        <img th:src="@{../images/{img}(img = ${cart.getProduct().getImage()})}" width="80px">
      </a>
    </td>
    <td>
      <a class="card-title font-weight-bold" th:href="@{/product/{id}(id = ${cart.getProduct().getId()})}" th:text="${cart.getProduct().getName()}"></a>
    </td>
    <td>
      <p th:text="${cart.getQuantity()}"></p>
    </td>
    <td>
      <p th:text="${cart.getProduct().getPrice()}"></p>
    </td>
    <td>
      <a th:href="@{/cart/delete/{id}(id=${cart.getId()})}">
        <img th:src="@{../images/delete.png}" width="25px" alt="Удалить">
      </a>
    </td>
  </tr>
</table>
  <a class="btn btn-primary float-right mr-5" href="/order/create">Оформить заказ</a>
</form>
</body>
</html>