<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <title>Редактирование товара</title>
</head>
<body>
<div th:insert="~{parts/login_part.html :: header}"></div>
    <form th:method="POST" th:action="@{/admin/products/{id}(id=${product.getId()})}" th:object="${product}" enctype="multipart/form-data">
        <!--<input type="hidden" th:field="*{id}">
        <label for="image">Изобржение</label>
        <input th:field="*{image}" id="image" type="text">
        <img>-->
        <br><br>
        <label for="name">Название</label>
        <input th:field="*{name}" id="name" type="text"><br>
        <label for="description">Описание</label>
        <input th:field="*{description}" id="description" type="text" ><br>
        <label for="quantity">Количество</label>
        <input th:field="*{quantity}" id="quantity" type="number" ><br><br>
        <label for="price">Цена</label>
        <input th:field="*{price}" id="price" type="number"><br>
        <input type="file" name="file" accept="image/png, image/gif, image/jpeg">
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>