<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/stylesheet.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet">
<!--    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>-->
    <title>Главная страница</title>
</head>
<body>
<div th:insert="~{parts/login_part.html :: header}"></div>
<div class="container-fluid mt-3 justify-content-center">
        <div class="row justify-content-center">
            <div th:each="product : ${listProduct}">
                <div class="col">
                    <div class="card" style="width: 12rem;">
                        <a th:href="@{/product/{id}(id = ${product.getId()})}">
                            <img class="card-img-top" th:src="@{../images/{img}(img = ${product.getImage()})}" th:alt="${product.getName()}">
                        </a>
                        <div class="card-body">
                            <a th:href="@{/product/{id}(id = ${product.getId()})}">
                                <h5 class="card-title" th:text="${product.getName()}">Card title</h5>
                            </a>
                            <p class="price" th:text="${product.getPrice()}+' р.'"></p>
                            <a th:href="@{/product/{id}(id = ${product.getId()})}" class="btn btn-primary">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>