<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <title th:text="'Заказ №'+${order.getId()}"></title>
</head>
<body>
<div th:insert="~{parts/login_part.html :: header}"></div>
    <h3 class="text-center mt-5" th:text="'Вы успешно оформили заказ №'+${order.getId()}"></h3>
<div class="d-flex justify-content-between my-2 mx-5">
    <h3 class="float-left">Состав заказа:</h3>
    <h4 class="float-right" th:text="'Статус заказа: '+${order.getStatus().getValue()}"></h4>
</div>
    <table  class="table table-hover mt-3 text-center">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>
        </tr>
        <tr scope="row" th:each="orderProduct : ${listOrderProduct}">
            <td>
                <a  class="card-title font-weight-bold" th:href="@{/product/{id}(id = ${orderProduct.getProductId()})}" th:text="${orderProduct.getName()}"></a>
            </td>
            <td>
                <p th:text="${orderProduct.getQuantity()}"></p>
            </td>
            <td>
                <p th:text="${orderProduct.getPrice()}"></p>
            </td>
        </tr>
    </table>
<a class="btn btn-primary float-right mr-5" th:href="@{/order/history/{id}(id=${order.getPerson().getId()})}">История заказов</a>
</body>
</html>