<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <title>Добавление товара</title>
</head>
<body>
<div th:insert="~{parts/login_part.html :: header}"></div>
<div class="container-fluid text-center mt-5 justify-content-center bg-light rounded">
<h3 class="">Добавление товара</h3>
    <form th:method="POST" th:action="@{/admin/products/add}" th:object="${product}" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Название: </span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" th:field="*{name}" id="name" name="name"><br>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default2">Описание: </span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default2" th:field="*{description}" id="description" name="description"><br>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default3">Количество: </span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default3" th:field="*{quantity}" id="quantity" name="quantity"><br>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default4">Цена: </span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default4" th:field="*{price}" id="price" name="price"><br>
        </div>
<!--        <div class="input-group mb-3">-->
<!--            <div class="input-group-prepend">-->
<!--                <span class="input-group-text">Изображение</span>-->
<!--            </div>-->
<!--            <div class="custom-file">-->
<!--                <input type="file" class="custom-file-input" id="inputGroupFile01" accept="image/png, image/gif, image/jpeg">-->
<!--                <label class="custom-file-label" for="inputGroupFile01"></label>-->
<!--            </div>-->
<!--        </div>-->
        <label >Фотография товара: </label>
        <input type="text" th:field="*{image}" id="img" name="img">
        <input type="file" name="file" accept="image/png, image/gif, image/jpeg"><br>
        <button class="btn btn-success" type="submit">Сохранить</button>
<!--        <label for="name">Название товара: </label>-->
<!--        <input type="text" th:field="*{name}" id="name" name="name"><br>-->
<!--        <label for="description">Описание товара: </label>-->
<!--        <input type="text" th:field="*{description}" id="description" name="description"><br>-->
<!--        <label for="quantity">Количество товара: </label>-->
<!--        <input type="number" th:field="*{quantity}" id="quantity" name="quantity"><br>-->
<!--        <label for="price">Цена товара: </label>-->
<!--        <input type="number" th:field="*{price}" id="price" name="price"><br>-->
<!--        <label >Фотография товара: </label>-->
<!--        <input type="text" th:field="*{image}" id="img" name="img">-->
<!--        <input type="file" name="file" accept="image/png, image/gif, image/jpeg"><br>-->
<!--        <button class="btn btn-success" type="submit">Сохранить</button>-->
    </form>
</div>
</body>
</html>