<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <title>Добавление товара</title>
</head>
<body>
<div th:insert="~{parts/login_part.html :: header}"></div>
    <form th:method="POST" th:action="@{/admin/products/add}" th:object="${product}" enctype="multipart/form-data">
        <label for="name">Название товара: </label>
        <input type="text" th:field="*{name}" id="name" name="name"><br>
        <label for="description">Описание товара: </label>
        <input type="text" th:field="*{description}" id="description" name="description"><br>
        <label for="quantity">Количество товара: </label>
        <input type="number" th:field="*{quantity}" id="quantity" name="quantity"><br>
        <label for="price">Цена товара: </label>
        <input type="number" th:field="*{price}" id="price" name="price"><br>
        <label >Фотография товара: </label>
<!--        <input type="text" th:field="*{image}" id="img" name="img">-->
        <input type="file" name="file" accept="image/png, image/gif, image/jpeg">
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>