<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/stylesheet.css}" type="text/css" rel="stylesheet">
    <title th:text="${product.getName()}"></title>
</head>
<body>
<div th:insert="~{parts/login_part.html :: header}"></div>
<div class="row m-5 justify-content-center">
    <img class="mr-3" width="500px" th:src="@{../images/{img}(img=${product.getImage()})}" th:alt="${product.getName()}">
    <div class="card-body">
        <h3 class="card-title" th:text="${product.getName()}">Card title</h3>
        <p class="price" th:text="${product.getPrice()}+' р.'"></p>
        <div th:if="${product.getQuantity()>0}">
            <form sec:authorize="isAuthenticated()" th:method="post" th:action="@{/product/addToCard}" th:object="${productToCart}">
                <input type="hidden" width="0px" th:field="*{id}">
                <input type="number" th:field="*{quantity}" th:max="${product.getQuantity()}" id="quantity" name="quantity">
                <button type="submit" class="btn btn-primary">В корзину</button>
            </form>
            <p class="card-text"><small class="text-muted" th:text="'В наличии '+${product.getQuantity()} +' шт.'"></small></p>
        </div>
        <h6 class="card-text" th:if="${product.getQuantity()<=0}">Нет в наличии</h6>
        <h4  class="card-text mt-2" >Описание:</h4>
        <p class="card-text" th:text="${product.getDescription()}"></p>
    </div>
</div>

<!--    <h1 th:text="${product.getName()}"></h1>-->
<!--    <img th:src="@{../images/{img}(img=${product.getImage()})}" width="500" th:alt="${product.getName()}">-->
<!--    <h2 th:text="${product.getPrice()}"></h2>-->
<!--    <div th:if="${product.getQuantity()>0}">-->
<!--    <form th:method="post" th:action="@{/product/addToCard}" th:object="${product}">-->
<!--        <input type="hidden" th:field="*{id}">-->
<!--        <label for="quantity" th:text="'В наличии '+${product.getQuantity()} +' шт.'"></label><br>-->
<!--        <input type="number" th:field="*{quantity}" th:max="${product.getQuantity()}" id="quantity" name="quantity" placeholder="1">-->
<!--        <button type="submit">В корзину</button>-->
<!--    </form>-->
<!--    </div>-->
<!--    <h3 th:if="${product.getQuantity()<=0}">Нет в наличии</h3>-->
<!--    <p th:text="${product.getDescription()}"></p>-->


</body>
</html>